.background {
    text-align: center;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    top: 0;
    background-color: darkblue;
    margin-bottom: 40px;
    padding: 10px;
}

.record-button {
    border-radius: 10%;
    padding: 10px;
    background-color: darkblue;
    color: white;
}

.transcribed-text {
    border: #282c34;
    border-width: 2px;
}
  
  
  